SECRET=MIICWwIBAAKBgFmq0bc0R9Y+oLeCySZRfi6NAmASSZJbLjMN1a8MN2TjmXIWvSw+v/PGaUHW81ln++rP7J2+AhNRAVGu6nTcbLAhdHSs8ZWT6E5GXNI+rR5P6/vste2EAJVYAM22/Kteuadiw+25Ke7SV3MTgjvx6iQ9wDJr83q22KbeI6jkS64pAgMBAAECgYAnf5Sz9Ca03I+lZso+w+Umklz6fvPDscCvIqf/XQ1FtvCQDi40wEuEEeGp7Ar0VlblP8RGVD3LzoIbPkbvRW3mvsHe+MIze0g0+ztY6GNuImHjmsDPfVm5k9ZgDMAdTUzKYHmrfL268nIeybfJ6afK5z5MB6sEzv5Kje4m26AU1QJBAJsGg2EcMFKqUmSdZ4dqq1xYyMTUjO5ZlZUXlsblGJhuVyGh8AqQeCD5Uh5hNpDG6CpXAWotaWmCiQU2MPGWU8MCQQCUEkDngywv8bF4M73KUCmirN8sarwkPf0z10I1IA8oR+S5GAYn5eWJbV7B8JkcRi1WZTLVf0Obrl8TZ0kFwbOjAkBiil9UiRCGW1GINy2pvDo0txLXWqxCjZsxbA8hWlqp+elUrZThgjd57kEuomiG2oiU8T0q+ra4pIroTywJRJ71AkEAgGrMS3zh57rP1ZXaNgoL8f/HlfgDr9LrM/iufPCO9LpVTYneXN/vkJ6AHecSgwkB7PnbennjIrO51VQwaoOxzQJAJjuJzZh6z+rNRn/GPNlOl+hw+VWcSchl6II6PILEGqIpYQZRZHy0TjsjD/Z9CUTRoxyiSS6Es6MdejVoECmROg==
MONGODB_URL=database_connection_string
PORT=project_port